[Desktop Entry]
Version=1.0
Name=kanshi_gui
GenericName=kanshi_gui
Comment=A simple gui for kanshi.
Exec=/usr/bin/kanshi_gui
Icon=kanshi_gui
Terminal=false
Type=Application
Categories=Utility;
Keywords=Flutter;kanshi;
